<h1>{{ title }}</h1>

<hr>

<div  class="container" >
 
  <div class="row" [hidden]="stage != undefined ">
        <h2> loading... </h2>
      </div>
      <div class="row" [hidden]="stage?.type != 'wait' ">
        <h2> Please wait </h2>
      </div>
      <div class="row" [hidden]="stage?.type != 'welcome' ">
        <h1> Welcome!!! </h1>
      </div>
       
    <div class="row" [hidden]="stage?.type != 'question'">
        Question Id:{{stage?.questionId}} (will be removed...) 
        <br/>
         <button (click)="postAnswer(stage?.questionId,'A')" 
                    class="btn waves-effect waves-light" 
                    type="submit" >A</button>

         <br/>
         <button (click)="postAnswer(stage?.questionId,'B')" 
                    class="btn waves-effect waves-light" 
                    type="submit" >B</button>

          <br/>
         <button (click)="postAnswer(stage?.questionId,'C')" 
                    class="btn waves-effect waves-light" 
                    type="submit" >C</button>
           <br/>
         <button (click)="postAnswer(stage?.questionId,'D')" 
                    class="btn waves-effect waves-light" 
                    type="submit" >D</button>

          <div class="row">
              <timer #timer></timer>
          </div>
    </div>

    <div class="row" [hidden]="stage?.type != 'answer'">
        <h3> Correct answer: &nbsp; {{stage?.correctAnswer}} </h3>
    </div>

    <div class="row" [hidden]="stage?.type != 'result' ">
        <h2> Result !!! </h2>
      </div>
      <div class="row" [hidden]="stage?.type != 'thankYou' ">
        <h2> Thank You (..) </h2>
      </div>
</div>